body{
    font-family: 'Arial', sans-serif;
  background-color: black;
  color: #333;
  margin: 20px;
  text-align: center;
}
.encabezado{
  margin: 80px;
  padding: 30px;

  color: #3b3838;
  background-color: cadetblue;
  border-radius: 20px;
}
.texto1{
  margin: 130px;
  padding: 35px;
  border: 2px solid #333;
  background-color: bisque;
  }
.icono{
  margin: 50px;
  padding-inline-start: 25px;
  transition: 1s;
  width: fit-content;
  border: 2px beige solid ;
  border-radius: 15px;

  
 
}
 .icono:hover{
  background-color: cadetblue;
 }

.redes{
  background-color: #3b3838;
  color: cadetblue;
  padding: 30px;
  margin: 80px;
  border-radius: 20px;
}
a{
   color: cadetblue; 
   text-decoration: none;
   font-style: italic;
  }
.texto2{
  color: bisque;
  margin: 20px;
  padding: 20px;

}
.Sya{
  color:bisque
   }
.label{
  width: 400px;
  margin:50;
  color: lightsalmon
}
.html{
  color:bisque; 

}
.head{
  color: bisque;
  
}
.textH{
  color: cadetblue ;
  background-color: azure;

}

#TITLE{
    background-color: skyblue;
}
.caja{
  border: 2px solid bisque;
 border-radius: 20px ;
 
}
